* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*-----------------------------------------------------*/
/* shared selectors */
#landing-body,
#signup-page, 
#login-page {
    background-color: rgb(28, 28, 28);
} 

/* shared end */
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* Landing Page (index.html) */

#landing-body { /* can merge this, maybe separate cat*/
    height: 100vh;
}

/* nav bar */
.landing-header {
    width: 100%;
    height: 8%;
}

#landing-body nav {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    /* background-color: rgb(65, 208, 82); */
}

.login-nav-left-container {
    color: white;
    text-decoration: none;
    border: 2px solid rgb(0, 0, 0, 0);
    padding: 0.1rem 1rem;
    margin: 0.5rem 1.5rem;
    border-radius: 20px;
    transition: 0.2s;
}

.login-nav-left-container:hover {
    background-color: white;
    color: black;
    border: 2px solid rgb(0, 0, 0);
    filter: grayscale(100%)
}

.login-nav-left-container img{
    width: 2.2rem;
}

.login-nav-right-container {
    margin: 0.5rem 1.5rem;
    border-radius: 25px;
    padding: 0.1rem 1rem;
    width: 17%;
}

.login-nav-not-authenticated {
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    border-radius: 25px;
    padding: 0.1rem 1rem;
    transition: 0.2s;
}

.login-nav-not-authenticated:hover {
    background-color: white;
    color: black;
}

/* nav bar end */

/* landing page main body*/
#landing-page-main {
    width: 100%;
    height: 92%;
}

.landing-container {
    width: 80%;
    height: 100%;
}

.landing-inner-container-width {
    height: 60%;
    width: 75%;
}

/* welcome text & create/join room btns*/
.landing-inner2-container-top {
    height: 80%;
    width: 100%;
}

.landing-inner3-container-left {
    color: white;
    width: 50%;
    height: 40%;
}

.welcome-text-body {
    font-size: 4rem;
}

.game-name-body {
    font-size: 6rem;
}

.landing-inner3-container-right {
    color: white;
    width: 50%;
    height: 40%;
}

#create-room-btn, #join-room-btn {
    color: black;
    background-color: rgb(65, 208, 82);
    font-size: 1.6rem;
    width: 70%;
    transition: 0.2s;
}

#create-room-btn:hover, #join-room-btn:hover {
    color: black;
}

/* welcome text & create/join room btn end */

/* Login alert styles */
.landing-inner2-container-bottom {
    width: 100%;
}

#login-alert {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.25s ease, transform 0.25s ease, visibility 0.25s ease;
}
        
#login-alert.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(20px);
    color: red;
    background-color: rgb(45, 45, 45, 0.8);
    border: none;
}

/* login alert styles end */ 
/* landing page end */
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* login and signup page */

#login-page,
#signup-page {
    height: 100vh;
}

.login-block,
.signup-block {
    width: 35%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: 2px solid rgb(0, 0, 0);
}

.login-block,
.signup-block {
    background-color: rgba(255, 255, 255, 0.9);
}

.login-wrapper,
.signup-wrapper {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-wrapper {
    padding-top: 5rem;
}

.login-wrapper form,
.signup-block form {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-group,
.signup-form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form-group label,
.signup-form-group label {
    font-weight: bold;
    margin-left: 0.3rem;
}

.login-form-group,
#login-button,
.login-bottom-text,
.signup-form-group,
#signup-button,
.signup-already-got-account-text {
    margin-top: 1rem;
}

.login-block h1 {
    font-size: 3rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#login-username,
#login-password,
#signup-username,
#signup-password,
#signup-password-confirm {
    font-size: 0.9rem;
    padding: 0.4rem;
    margin: 0.3rem 0;
    border-radius: 0.5rem;
}

#login-username, 
#login-password,
#signup-username,
#signup-password,
#signup-password-confirm {
    border: 2px solid rgba(255, 255, 255, 0);
}

#login-username:hover,
#login-password:hover,
#signup-username:hover,
#signup-password:hover,
#signup-password-confirm:hover {
    border: 2px solid rgb(105, 105, 228);
}

#login-button,
#signup-button {
    width: 100%;
    border: none;
    border-radius: 0.3rem;
    font-weight: bold;
}

#signup-button,
#login-button {
    font-size: 1.1rem;
    margin-top: 2rem;
    background-color: rgb(65, 208, 82);
    padding: 0.5rem 0;
}

#login-button:hover,
#signup-button:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
}

.login-forgotPass {
    width: 100%;
    text-align: right;
    text-decoration: underline;
}

.login-wrapper a,
.signup-to-login-link,
.signup-block form p a {
    text-decoration: underline;
    color: black;
}

.login-wrapper a:hover,
.signup-to-login-link:hover,
.signup-block form p a:hover {
    color: red;
    transition: 0.2s;
}

.signup-join-name {
    margin-top: 2.5rem;
    font-size: 1rem;
}

.signup-create-your-account-head {
    font-size: 3rem;
    font-weight: 400;
    margin: 1rem 0 1rem 0;
}

.signup-block form p {
    font-size: 0.8rem;
    margin-left: 0.3rem;
}

.signup-form-group span,
.login-form-group span {
    color: red;
}

.signup-already-got-account-text {
    font-size: 0.8rem;
}

/* login and signup page end */ 
/*-----------------------------------------------------*/


/*-----------------------------------------------------*/
/* Question: true or false type */
#tf-question #question-text {
    align-content: center;
    text-align: center;
    min-width: 700px;
    min-height: 200px;
    font-size: 30px;
}

#question-block {
    border: 2px solid #77c1f2;
    display: flex;
}

#answer-tf {
    display: flex;
    justify-content: center;
    gap: 210px;
    padding-top: 20px;
    padding-bottom: 80px;
}

#answer-tf button {
    background-color: white;
    color: black;
    font-size: 1.2rem;
    border: 2px solid #77c1f2;
    height: 80px;
    width: 250px;
}   

/* Question: multichoice type */
#multichoice-question #question-text {
    align-content: center;
    text-align: center;
    min-width: 700px;
    min-height: 200px;
    font-size: 30px;
}

#answer-multi {
    display: grid;
    justify-content: center;
    padding-bottom: 80px;
    gap: 210px;
    row-gap: 50px;
    /* create 2x2 grid with equal sizes */
    grid-template-rows: repeat(2, 80px);
    grid-template-columns: repeat(2, 250px);
}

#answer-multi button {
    background-color: white;
    color: black;
    font-size: 1.2rem;
    border: 2px solid #77c1f2;
    height: 80px;
    width: 250px;
}

.btn-correct {
    background-color: green !important;
}

.btn-incorrect {
    background-color: red !important;
}

/* Timer button styles */
.timer-btn {
    background-color: #77c1f2;
    color: black;
}

.timer-btn.selected {
    background-color: #1f4a7d;
    color: white;
}


/* Game */
.screen {
    display: none;
}

.screen.active {
    display: block;
}

#display-code {
    /* color: #808080; */
    letter-spacing: 0.15em;
    font-family: 'Inter', sans-serif;
}

#start-game {
    color: black;
    background-color: rgb(65, 208, 82);
    font-size: 1.6rem;
    width: 30%;
    transition: 0.2s;
    
}

#start-game:hover {
    color: black;
}

#room-code-display {
    text-align: center;
}

.players-label {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}

#player-list {
    text-align: center;
    margin: 0.5rem auto;
}

#choices-grid{
    display: grid;
    justify-content: center;
    padding-bottom: 80px;
    gap: 210px;
    row-gap: 50px;
    /* create 2x2 grid with equal sizes */
    grid-template-rows: repeat(2, 80px);
    grid-template-columns: repeat(2, 250px);
}