<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <a href="index.html">
            <img src="/static/images/games.png" alt="">
            <span>Game</span>
        </a>

        <nav>
            <a href="friends.html">
                <img src="/static/images/friends.png" alt="friends">
            </a>
            <a href="contactUs.html">Contact Us</a>
            <a class="log-in-link" href="login.html">Log in</a>
        </nav>
    </header>
    <main>
        <section>
        </section>
    </main>
    <footer></footer>
</body>
</body>
</html>