<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/minecraft-logo.svg')}}">
</head>
</head>
<body>
    <main id="crtRoom-page">
        
        <header class="crtRoom-header d-flex align-items-center justify-content-between">
            <nav class="d-flex align-items-center justify-content-between">
                
                <div class="crtRoom-nav-left-container d-flex justify-content-between align-items-center text-end ms-3">
                    <a href="{{ url_for('main.join_room') }}">JOIN ROOM</a>
                    <a href="{{ url_for('main.create_room') }}">CREATE ROOM</a>
                </div>
                
                <a href="{{ url_for('main.home') }}" class="crtRoom-nav-right-container d-flex justify-content-center align-items-center">
                    <h3 class="m-0"> {{ current_user.username }} </h3>
                </a>
            </nav>
        </header>

        <section id="crtRoom-body" class="d-flex justify-content-center align-items-center">
            <div class="crtRoom-container d-flex flex-column justify-content-center align-items-center">
                <h2>Host a Room</h2>
                <p>Choose your quiz settings and invite players with a room code </p>
                
                <form action="{{ url_for('quiz.create_game') }}" method="POST" class="crtRoom-form mt-4">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    
                    <div class="crtRoom-qType-container p-4">
                        <h5 class="fw-bold mb-4">Select the type of Quiz</h5>
                        <div class="d-flex justify-content-around align-items-center">

                            <div class="crtRoom-rand-container">
                                <input class="form-check-input" value="random" type="radio" name="quizType" id="randomQuiz" checked>
                                <label class="form-check-label" for="randomQuiz">RANDOM</label>
                            </div>
                            
                            <div class="crtRoom-preset-container">
                                <input class="form-check-input" type="radio" name="quizType" id="presetQuiz" value="preset">
                                <label class="form-check-label" for="presetQuiz">CUSTOM</label>
                            </div>
                        </div>
                            
                        <div id="preset-options" class="mt-4 d-none">
                            <div class="preset-setting">
                                <label class="form-label fw-bold">Choose custom quiz</label>
                                <select id="preset-select" name="preset-quiz-id" class="form-select">
                                    {% for quiz in published_quizzes %}
                                        <option value="{{ quiz.id }}">{{ quiz.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        
                        <div id="random-settings" class="d-flex justify-content-between mt-4">
                            <div class="random-setting">
                                <label class="form-label fw-bold">No. of questions</label>
                                <select id="question-count" name="question-count" class="form-select">
                                    <option value="5">5</option>
                                    <option selected value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                            
                            <div class="random-setting">
                                <label class="form-label fw-bold">Difficulty</label>
                                <select id="difficulty" name="difficulty" class="form-select">
                                    <option value="any" selected>Any</option>
                                    <option value="easy">Easy</option>
                                    <option value="medium">Medium</option>
                                    <option value="hard">Hard</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="crtRoom-timer-container mt-4 mb-4 p-4">
                        <h5 class="fw-bold mb-4">Timer</h5>
                        
                        <input type="hidden" name="timer" id="timer-value" value="15">
                        
                        <div class="timers d-flex justify-content-around mb-3">
                            <div class="timer-options">
                                <input type="radio" id="t15" class="selected" name="time-limit" value="15" checked>
                                <label class="" for="t15">15 sec</label>
                            </div>
                            <div class="timer-options">
                                <input type="radio" id="t30" class="btn-check1" name="time-limit" value="30">
                                <label class="" for="t30">30 sec</label>
                            </div>
                            <div class="timer-options">
                                <input type="radio" id="t45" class="btn-check1" name="time-limit" value="45">
                                <label class="" for="t45">45 sec</label>
                            </div>

                            <!-- <button type="button" class="timer-btn selected" data-timer="15">15 sec</button>
                            <button type="button" class="timer-btn" data-timer="30">30 sec</button>
                            <button type="button" class="timer-btn" data-timer="45">45 sec</button> -->
                        </div>
                    </div>
                    
                    <div class="crtRoom-button-container">
                        <button type="submit" class="btn fw-bold">HOST ROOM</button>
                    </div>
                    
                </form>
            </div>
            
        </section>
    </main>
    <script>
        const randomRadio = document.getElementById('randomQuiz');
        const presetRadio = document.getElementById('presetQuiz');

        const presetOptions = document.getElementById('preset-options');
        const randomSettings = document.getElementById('random-settings');

        function updatePresetVisibility() {
            if (presetRadio.checked) {
                presetOptions.classList.remove('d-none');
                randomSettings.classList.add('d-none');
            } else {
                presetOptions.classList.add('d-none');
                randomSettings.classList.remove('d-none');
            }
        }

        randomRadio.addEventListener('change', updatePresetVisibility);
        presetRadio.addEventListener('change', updatePresetVisibility);
        updatePresetVisibility();
    </script>
</body>
</html>
