<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <main id="login-page">
        <section class="login-block">
            <h1>Sign In</h1>
            <div class="login-wrapper">

                <form method="POST" action="{{ url_for('auth.login') }}">
                    <div class="login-form-group">
                        <label for="login-username">Username or Email </label>
                        <input type="text" id="login-username" name="userID" required placeholder="Enter your username">
                    </div>
                    
                    <div class="login-form-group">
                        <label for="login-password">Password</label>
                        <input type="password" id="login-password" name="password" required placeholder="Enter your password">
                    </div>
                    
                    <a class="login-forgotPass" href="">Forgot Password</a>

                    <button id="login-button" type="submit">Login</button>
                </form>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}
                
                <p class="login-bottom-text">
                    Don't have an account?
                    <a href="{{ url_for('auth.signup') }}">Sign up here</a>
                </p>
                
            </div>
        </section>
    </main>
</body>
</html>