<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <main id="login-page" class="d-flex align-items-center justify-content-center">
        <section class="login-block shadow">
            <div class="login-wrapper">
                <p>Please enter your details</p>
                <h1>Welcome back</h1>

                <form method="POST" action="{{ url_for('auth.login') }}">
                    <div class="login-form-group">
                        <label for="login-username">Username <span>*</span></label>
                        <input type="text" id="login-username" class="form-control" name="username" required placeholder="Enter your username">
                    </div>
                    
                    <div class="login-form-group">
                        <label for="login-password">Password <span>*</span></label>
                        <input type="password" id="login-password" class="form-control" name="password" required placeholder="Enter your password">
                    </div>
                    
                    <div class="login-message-area d-flex">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="login-flash" id="login-flash">
                                    {{ messages[0] }}
                                </div>
                            {% endif %}
                                <a id="login-forgotPass" class="login-forgotPass {% if messages %} hidden {% endif %}"   href="#">Forgot Password</a>
                        {% endwith %}
                    </div>

                    <button id="login-button" class="btn" type="submit">Login</button>
                </form>
                
                <p class="login-bottom-text">
                    Don't have an account?
                    <a href="{{ url_for('auth.signup') }}">Sign up here</a>
                </p>
                
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script>
        const flash = document.getElementById('login-flash')
        const forgotPass = document.getElementById('login-forgotPass')

        if (flash && forgotPass) {
            setTimeout(() => {
                flash.classList.add('fade-out');

                setTimeout(() => {
                    flash.remove();
                    forgotPass.classList.remove('hidden')
                }, 500)

            }, 5000);
        }
    </script>
</body>
</html>