<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Agile Quiz</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <main id="tf-question">
            <div class="container mt-5">
                <div class="border border-dark border-4 rounded-5 overflow-hidden shadow">

                <div class="bg-blue p-4 d-flex justify-content-center align-items-center border-bottom border-dark border-4 landing-text">
                    <h1>Agile Quiz</h1>
                </div>

                <div class="d-flex justify-content-center align-items-center bg-white p-5">
                    <div id="question-block" class="rounded-5">
                        <p id="question-text">Question</p>
                    </div>
                </div>

                <div id="answer-tf">
                    <button class="rounded-pill">True</button>
                    <button class="rounded-pill">False</button>
                </div>

            </div>
        </main>
    </body>
</html>